{{define "title"}}
Tambah Task
{{end}}

{{define "main"}}
<div class="card box-shadow">
    <form action="/create" method="post" enctype="multipart/form-data">
        <div class="card-header">Tambah Task</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label">Task</label>
                        <input type="text" class="form-control" name="task">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" name="decription" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label">Deadline</label>
                        <input type="date" class="form-control" name="deadline">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Assignee</label>
                        <input type="text" class="form-control" name="assignee">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Profile Image</label>
                        <input type="file" class="form-control" name="profile_image">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{{end}}