{{define "title"}}
Daftar Task
{{end}}

{{define "main"}}
<div class="row">
    <div class="col-12">
        <a href="/create" class="btn btn-primary mb-2">Tambah Task</a>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Task</th>
                    <th>Deadline</th>
                    <th>Assignee</th>
                    <th>Profile Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $task := .Tasks}}
                <tr>
                    <th scope="row">{{$index}}</th>
                    <td>{{$task.ID}}</td>
                    <td>{{$task.Task}}</td>
                    <td>{{$task.Deadline}}</td>
                    <td>{{$task.Assignee}}</td>
                    <td>
                        <img src="{{$task.ProfileImage}}" alt="img" class="img-thumbnail" width="75px" onError="this.onerror=null;this.src='../static/default.png';">
                    </td>
                    <td>
                        <a href="/update/{{$task.ID}}" class="btn btn-success">Ubah</a> | 
                        <a href="/show/{{$task.ID}}" class="btn btn-info">Lihat</a> | 
                        <a href="/delete/{{$task.ID}}" class="btn btn-danger">Hapus</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}